- type: job
  id: ChiefMedicalOfficer
  name: job-name-cmo
  description: job-description-cmo
  playTimeTracker: JobChiefMedicalOfficer
  requirements:
    - !type:RoleTimeRequirement
      role: JobChemist
      time: 2.5h
    - !type:RoleTimeRequirement
      role: JobMedicalDoctor
      time: 5h
    - !type:DepartmentTimeRequirement
      department: Medical
      time: 10h
  weight: 10
  startingGear: CMOGear
  icon: "JobIconChiefMedicalOfficer"
  supervisors: job-supervisors-captain
  canBeAntag: false
  guides: # goobstation
  - Medical
  - SOPChiefMedicalOfficer
  - SOPMedical
  - Command
  - Chemicals
  - Virology
  goobcoins: 40 #Goob content
  access:
  - Medical
  - Command
  - Maintenance
  - Chemistry
  - ChiefMedicalOfficer
  - Brig
  - Cryogenics
  - External # goobstation
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff
      # <Trauma>
      - type: SurgerySpeedModifier
        speedModifier: 2
      - type: CPRTraining
        reviveChance: 0.9 # excellent training and experience
        inhaleChance: 1 # great kisser too
      # </Trauma>

- type: startingGear
  id: CMOGear
  equipment:
    id: CMOPDA
    ears: ClothingHeadsetAltMedical # Goobstation
    eyes: ClothingEyesGlassesMed # Goobstation
    belt: ClothingBeltMedicalFilled
  storage:
    back:
    - Flash
    - TelescopicBaton # Goobstation

- type: chameleonOutfit
  id: ChiefMedicalOfficerChameleonOutfit
  job: ChiefMedicalOfficer
  hasMindShield: true
  equipment:
    head: ClothingHeadHatBeretCmo
    eyes: ClothingEyesHudMedical
    mask: ClothingMaskSterile
    neck: ClothingCloakCmo
    outerClothing: ClothingOuterCoatLabCmo
    gloves: ClothingHandsGlovesNitrile
